<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Guessing Game</h1>
    {% if message %}
    <h3 style="color: blue">{{message}}</h3>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <label for="guess">Number</label>
      <input
        type="number"
        id="guess"
        name="guess"
        placeholder="Enter your guess here"
      />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
